
%h1#user_username=@user.username
%button#usereditinfobutton Edit Info

%div#usereditinfo{:style=>"display:none;"}
  %input#user_id{:value => @user.id, :type => "hidden"}/
  %p Email:
  %input#email{:value => @user.email, :type => "text"}/
  %p Username:
  %input#username{:value => @user.username, :type => "text"}/
  %p Password:
  %input#password{:value => @user.password, :type => "password"}/
  %p Password confirmation:
  %input#passwordconfirmation{:value => @user.password_confirmation, :type => "password"}/
  %br
  %input#usereditsubmit{:type => "button", :value => "Submit"}/

%h2 Albums

-unless @user.albums.empty?
  -@user.albums.each do |album|
    =album.cover_photo
    =album.name
-else
  %div.newalbum You have no albums!
%div.newalbum
%br
%button#newalbumbutton New Album

%div#newalbuminfo{:style=>"display:none;"}
  %p Name:
  %input#album_name{:type => "text"}/
  %p Description:
  %input#album_description{:type => "text"}/
  %br
  %input#new_album_submit{:type => "button", :value => "Submit"}/

:javascript
  $(function(){
    setup();
  });