
%h1#user_username=@user.username

-if @user == current_user
  %button#usereditinfobutton Edit Info
  %div#usereditinfo{:style=>"display:none;"}
    %input#user_id{:value => @user.id, :type => "hidden"}
    %p Email:
    %input#email{:value => @user.email, :type => "text"}
    %p Username:
    %input#username{:value => @user.username, :type => "text"}
    %p Password:
    %input#password{:value => @user.password, :type => "password"}
    %p Password confirmation:
    %input#passwordconfirmation{:value => @user.password_confirmation, :type => "password"}
    %br
    %input#usereditsubmit{:type => "button", :value => "Submit"}


%h2 Albums

%div#useralbumscontainer
  -unless @user.albums.empty?
    %div#useralbums
      -@user.albums.each do |album|
        .useralbum
          -cover_photo = Photo.unscoped.find(album.cover_photo_id)
          =link_to(image_tag(cover_photo.photo_file.thumb.url), album)
          %br
          =album.name
          %br
          -if @user == current_user
            =link_to "Edit", edit_album_path(album)
            |
            =link_to "Delete", album, method: :delete, data: { confirm: 'Are you sure?' }
            %br
            =link_to 'Add Photo', new_photo_path(album_id: album.id)
  -else
    -if @user == current_user
      You have no albums!
    -else
      = @user.username
      has no albums!
%br
  -if @user == current_user
    #newalbum
      = render 'newalbum'
  
